* {
  margin: 0;
  padding: 0;
  text-decoration: none
}

body {
  padding-top: 70px;
  background-image: url(/Users/msheriff/profile/assets/image/blackbg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  position: relative;
}

.container-fluid {
  margin: -2rem 0;
  padding: 0;
}

#home {
  padding: 60px 0;
  height: 812px;
  color: #fff;
  background: rgba(51, 51, 51, 0.568);
}

#about {
  padding: 60px 0;
  height: auto;
  color: black;
  background-image: url(/Users/msheriff/Mia-Portfolio/asset/images/bgpic.png);

}
.polygon {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 13%, 0 58%);
  clip-path: polygon(0 0, 100% 0, 100% 13%, 0 58%);
  height: 13.5%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  background: #046d8a31;
}

@media(max-width:750px) {
  .polygon {
    height: 12%;
  }
}

/* ===================================== 
  /* navbar styles */

/* ===================================== */

.header {
  color: #f1f1f1;
  z-index: 9999;
}

.sticky {
  position: fixed;
  background-color: rgb(3, 15, 15);
  top: 0;
  width: 100%
}

.sticky+.content {
  padding-top: 100px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: .5rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  transition: all 0.4s ease;
}

.navbar-brand {
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 2rem;
  margin: 10px;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgb(255, 255, 255);
}

.navbar-toggler {
  border: none;
  outline: none;
}

.logo {
  padding: 1rem;
  border-radius: 10px;
  /* border: 1px solid #a7a7a7; */
  font-style: italic;
  font-family: 'DM Sans', sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
  background: rgb(4, 117, 117);
  color: rgb(255, 255, 255);
}
.content {
  margin-top: 20px;
  padding: 16px;
}

/* ==================================== */

/* Home - section 1 */

/* ==================================== */

.title {
  border-bottom: 0.5rem solid #6d6d6d;
  padding-bottom: 0.2rem;
  letter-spacing: 0.3rem;
  font-family: 'DM Sans', sans-serif;
}

.nameContent {
  padding-top: 9rem;

  font-family: 'DM Sans', sans-serif;
}

.nameContent .btn:hover {
  font-size: 3.6rem;
  background: transparent;

  margin-top: 2rem;

}

.name {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: 'DM Sans', sans-serif;
}

/* Chrome, Safari, Opera */

@-webkit-keyframes paddingAnimate {
  from {
    padding-top: 15rem;
    opacity: 9rem;
  }

  to {
    padding-top: 0;
    opacity: 1;
  }
}
@keyframes paddingAnimate {
  from {
    padding-top: 15rem;
    opacity: 0;
  }

  to {
    padding-top: 9 rem;
    opacity: 1;
  }
}

@-webkit-keyframes btn-animate {
  50% {
    margin-top: 50px;
  }
}

@keyframes btn-animate {
  50% {
    margin-top: 50px;
  }
}

/* ==================================== */

/* About - section 2 */

/* ==================================== */

.profileImage {
  transition: 1s ease-in;
  transition: 1s ease-out;
  /* margin-top: 1.5rem; */
}

.profileImage:hover {
  transform: scale(1.03);
}

.aboutMe,
.mySkills,
.myProjects,
.myContact,
.social-div {
  transition: 0.3s linear;
  overflow: hidden;
  height: 4rem;
  width: 0;
  opacity: 0;
}

#about-me{
  color: #ffffff;
  background-color: #06756c;
  text-align: center;
  font-weight: 500;
}

.show-element {
 text-align: center;
}

.social-div .fa:hover {
  transform: scale(1.05);
}

.fa-linkedin {
  color: #046096;
}

.fa-github-square {
  color: black;
}

.fa-envelope {
  color: #c9352f;
}

.social-div .fab,
.social-div .fas,
.social-div .far {
  font-size: 3rem;
  margin: 1rem 0.5rem;
  transition: 0.5s ease-in;
  transition: 0.5s ease-out;
  text-align: center;
}

p {
  padding: 0.5rem 1rem;
  line-height: 1.6;
  color: #4e4e4e;
  font-size: 1.08rem;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #f1f0f0;
}

/* ==================================== */

/* Skills - section 3 */

/* ==================================== */

#skill-section {
  background: #ffffff;
  width: 100%;
  text-align: center;
  color: #4b4a4a;
  border-radius: 5px;

}

.skill-heading {
  color: #ffffff;
  background-color: #06756c;
  padding: .3rem;
  text-align: center;
  border-radius: 5px;
  font-style: italic;
  font-weight: 500;
}

ul {
  list-style-type: none;
  color: #272727;

}

.skill-content {
  padding-left: 5px;
  font-size: 1rem;
  font-style: italic;
  background: #b45252;
}

/*======================================*/

/* project  section 4*/

/*======================================*/


#project-header {
  color: rgb(255, 255, 255);
  text-align: center;
}

.card {
  width: 400px;
  height: 370px;
  margin: 10px;

}

#project .card {
  box-shadow: 7px 7px 3px rgb(39, 39, 39);
  border: none;
  border-radius: 10px;
  height: 370px;
}

.card-text .project-text {
  text-align: justify;
  padding: 0.5rem 1rem;
  line-height: 1rem;
  color: rgb(121, 118, 118);
  font-size: 12px;
  margin: 0;
  font-family: 'DM Sans', sans-serif;

}

.project-image {
  transition: all 0.7s ease;
}

.project-tech {
  font-style: italic;
  font-size: .9rem;

}

.card-img {
  width: 100%;
  height: 100%;

}

.card-img-overlay {
  opacity: 0;
  padding-top: 10%;
  transition: all 0.7s ease;
  border-color: #ffffff;
  outline: none;
  outline-color: #ffffff;
}

#project:hover .card-img-overlay {
  opacity: 1;
}

#project .image-card {
  -webkit-box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
  /* margin: 0 4rem; */
  transition: 0.3s linear;
  transition: 0.5s ease-in;
  transition: 0.5s ease-out;
}

#project:hover .project-image {
  opacity: 0.1;
}

.btn-outline-primary {
  background-color: #06756c;
  color: var(--main-theme-color, #f8f8f8);
  border-color: var(--main-theme-color, #dddddd);
  font-size: .5rem;
  font-family: 'Fira Sans', sans-serif;
  margin: 10px;

}

.btn-outline-primary:hover {

  color: var(--main-theme-color, #083a36);
  border-color: var(--main-theme-color, #313131);
  background-color: #FFFFFF;
}

#project .card-body {
  padding: 0;
}

#project {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  #project {
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

@media (max-width: 768px) {

  .fa-hand-point-left,
  .fa-hand-point-right {
    display: none;
  }
}

@media (min-width: 768px) {
  #project:nth-child(2n) {
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }

  #project:nth-child(even) .image-card {
    margin-right: 4rem;
  }

  #project:nth-child(odd) .image-card {
    margin-left: 4rem;
  }
}

/*======================================*/

/* Contact  section 5*/

/*======================================*/

input {
  margin-bottom: 10px;
}

.contactheader {
  margin-bottom: 50px;
}

#submit-btn {
  background: rgb(4, 117, 117);
  color: #fff;
  border: none;
  position: relative;
  height: 50px;
  width: 200px;
  font-size: 1em;
  padding: 0 1em;
  cursor: pointer;
  transition: 800ms ease all;
  box-shadow: 7px 7px 4px rgb(88, 88, 88);
  outline: none;
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

#submit-btn:hover {
  background: #fff;
  color: rgb(4, 117, 117);
}

#submit-btn:before,
#submit-btn:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: rgb(4, 117, 117);
  transition: 400ms ease all;
}

#submit-btn:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
  box-shadow: 7px 7px 4px rgb(88, 88, 88);
}
#contact-header {
  color: #ffffff;
  background-color: #06756c;
  text-align: center;
  font-weight: 500;
}
#contact {
  padding: 10px;
  font-size: 16px;
  color: rgb(56, 55, 55);
  background-image: url(/Users/msheriff/Mia-Portfolio/asset/images/bgpic.png);
  margin: auto;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 30px;
  height: 450px;
  line-height: 30px;
  border-radius: 20px;
}

form {
  padding: 15px;
  height: fit-content;
  margin: auto;
  box-sizing: border-box;
  border-radius: 10px;
  margin-top: 10px;
}

#submit-btn:hover:before,
#submit-btn:hover:after {
  width: 100%;
  transition: 800ms ease all;
}

input #submit-btn:hover {
  color: rgba(9, 16, 20, 0.979);
  background-color: #FFFFFF;

}

.feedbackMessage {
  padding: 1rem;
  margin: 1rem;
  background: #faf7f7;
  border-radius: 2px;
}

.fixed-bottom {
  background-color: #303030;
  text-align: center;
  margin-top: 10px;
  border-top: 8px solid #666666;
  margin-top: 10px;
  font-size: 0.75em;
  clear: both;

}

#copyright {
  padding: 10px;
  color: rgb(160, 160, 160);
}